html { font-size:100%; }


entry-page {
    font-family: 'Raleway';
    margin: 50px;
    padding: 0;
    background-color: #1F3846;
  }
  #Showreel{
    width: 360px;
    height: 215px;
  }
  body {
      font-family: 'Raleway';
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 0px;
      margin-top: 0px;
      padding: 0;
    background-color: #C2C9CD;
    font-size: 1rem;
    height: fit-content;
  }
  
  header {
      background-color: #1F3846;
      color: #fff;
      text-align: center;
      height: fit-content;
      width: 100%;
      font-size: 16px;

  }
#NevemÍrottan {
    font-family: "Allura";
    color: #fff;
  }
  
  nav ul {
      list-style: none;
      display: flex; /* Use flexbox to arrange items in a row */
      justify-content: center; /* Center the items horizontally */
      flex-direction: row;
      align-items: center;
      text-align: center;



  }
  
  nav ul li {
      display: inline;
      margin-right: 20px;
      display: block;
      margin: 10px 0;
      padding-right: 30px;
  }
  li{
    margin-left: 20px;
    text-align: justify;
  }
  
  nav a {
      text-decoration: none;
      color: #C2C9CD;
  }
  nav a:hover {
    color: #fff;
}
#LanguageSelector {
  order: 2;
  font-size: 12px;
  color: #C2C9CD;
  margin-right: 10px;
  text-align: end;
}
#LanguageSelector a {
  color: #C2C9CD;
  text-decoration: none;
}
#LanguageSelector a:hover{
  color: #fff;
}

@media (min-width:400px) { body {font-size: 16px;} } /* Mobile styles */
@media (min-width:640px) { body {font-size:1rem;} } /* Tablet styles */
@media (min-width:960px) { body {font-size:1.2rem;} } /* Desktop styles */
@media (min-width:1100px) { body {font-size:1.5rem;} } /* Large Desktop styles */

  .hero {
      background-image: url('Welcome.png');
      background-size: cover;
      background-repeat: no-repeat;
      color: #fff;
      text-align: center;
      padding: 100px 50px;
      height: 700px;
      width: auto;
      margin-right: 0px;

  }
  .content {
      padding: 20px;
  }
section{
  margin-right:20px;
}

/*                            Index  part                              */
#Welcome {
  font-family: 'Raleway';
  text-align: center;
  width: 400px;
  height: 200px;
  margin-right: 20px;
}
#Welcome h1 {
  font-family: 'Raleway';
  font-size: 40px;
  color:#C2C9CD;
  font-weight:bold;
  text-transform: uppercase;
}
#Welcome h3 {
  font-family: 'Raleway';
  font-size: 20px;
  color:#C2C9CD;
  border-bottom: 0;
}
 /*                               Contact me part */
 #Contact {
  margin-left: 20px;
  margin-bottom: 20px;
  height: 1000px;
  font-family: 'Raleway';
  font-size: 18px;
 }
 #Contact h2{
  font-weight: bold;
  color: #1F3846;
  text-transform: uppercase;
  font-family: 'Raleway';
  border-bottom: 2px solid #1F3846;
  font-size: 24px;
}
  #NameInputMező{
    background-color: #1F3846;
      color: #fff;
      text-align: left;
      bottom: 0;
    height: 30px;
      width: 400px;
    border-radius: 5px;
  text-align: left;
  }
  #SubjectInputMező{
    background-color: #1F3846;
      color: #fff;
      text-align: left;
      bottom: 0;
    height: 30px;
      width: 400px;
    border-radius: 5px;
  text-align: left;
  }
  #EmailInputMező{ 
    background-color: #1F3846;
    color: #fff;
    text-align: left;
    bottom: 0;
  height: 30px;
    width: 400px;
  border-radius: 5px;
text-align: left;
}
  #SzovegInputMező {
        background-color: #1F3846;
      color: #fff;
      text-align: justify;
      bottom: 0;
    height: 200px;
      width: 400px;
      border-radius: 5px;
      margin-bottom: 20px;
      vertical-align: top;
  }
  footer {
      background-color: #1F3846;
      color: #C2C9CD;
      text-align: center;
      padding: 5px; /* ez a másikba nem volt benne */
      width: 100%;
      bottom: 0;
      left: 0;
      z-index: 1000;
      font-size: 16px;
  }


  #SendButton{
    background-color: #1F3846;
      color: #C2C9CD;
         font-family: Raleway;  
    display: inline-block;
      padding: 5px 10px;
      border-radius: 5px;
      margin-bottom: 20px;
      font-size: 16px;
  }
  /*About me part                               */
  aside {
    width: 25%;
    height: 1000px;
    color: #1F3846;
    background-color: #C2C9CD;
    border-right: 2px solid #1F3846;
    font-family: 'Raleway';
    margin-left: 15px;
    font-size: 16px;

}
#SecAboutMe {
  width: 900px;
  height: 1000px;
  font-family: 'Raleway';
  color: #1F3846;
  margin-left: 350px;
  margin-top: -950px;
  flex-basis: calc(70% - 20px);
  font-size: 16px;

}
#imageAboutMe {
  background-image: url("aboutme.png");
  background-size: 300px 316px;
  height: 316px;
  background-position: center;
}
h3,
h4 {
    font-family: 'Raleway';
    text-transform: uppercase;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

aside h3,
aside h4 {
    color: #1F3846;
}

aside h3 {
    border-bottom: 2px solid #1F3846;
    font-size: 20px;
;
}

aside h4 {
    margin-bottom: 0;
    font-size: 16px;
}

section h3 {
    text-transform: uppercase;
    color: #1F3846;
    border-bottom: 2px solid #1F3846;
    margin-right: 30px;
}
section h4 {
  text-transform: uppercase;
  color: #1F3846;
}

#contact-container,
#experiences-container,
#education-container,
#workshop-container,
#stage-container,
#other-container {
    display: flex;
    flex-wrap: wrap;
}
#contact-container {
  display: flex;
  justify-content: flex-start;
}
.job-left {
  width: 400px;
}
.job-right {
  width: 800px;
}
.school-left {
    width: 400px;
}
.school-right {
    width: 400px;
}
.post-name,
.institution-name,
.production-name,

.teacher-name {
    font-weight: bold;
    color: #2c2828;
    font-size: 16px;
    margin-bottom: 0;
}
.post-name {
  text-transform: uppercase;
}
.production-name{
  text-transform: uppercase;
}

.date,
.role-name {
    margin: 0;
}
.post-position {
  margin: 0 0 30px 0;
}

/*Showreel part                               */
  #Showreel{
height:1000px;
align-items: center;
font-family: Raleway;
font-size: 16px;
color:#1A4789;
font-weight: bold;
font-size: 16px;

  }
  #Showreel h2{
    font-weight: bold;
    color: #2c2828;
    text-transform: uppercase;
    font-family: 'Raleway';
    border-bottom: 2px solid #1F3846;
    font-size: 24px;
  }
  /*                           Credits part                            */
  .role-name{
    color:#1A4789;
    font-size: 16px;
  }
  #experiences h2{
    font-weight: bold;
    color: #2c2828;
    text-transform: uppercase;
    font-family: 'Raleway';
  }
  #experiences {
    height: 1000px;
  }
.director-name {
  font-weight: bold;
  color: #1F3846;
  text-transform: uppercase;
  font-family: 'Raleway';
  font-size: 16px;
}


  /*                               PICTURE GALLERY                    */
  * {
    box-sizing: border-box;
  }
  
  /*    Teljes alakos kép mérete */
  #expandedImg {
    display: block;
    margin: 0 auto;
    position: relative; /* Make it the positioning context */
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
    margin: 0 auto; /* Center the container horizontally */
    text-align: center; 
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -25px;
    color: #1A4789;
    font-weight: bold;
    font-size: 35px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
    margin-left: -30%;
    margin-right: 20%;
  
  }
  
  
  
  
  
  
  
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: #1F3846;
  }
  
  
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* 1 columns side by side */
  .column {
    float: left;
    width: 6.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
    /*                          Pictures part                              */
    
  
  
  #PhotoCredit{
    margin-left: 0px;
    top: 0px;
  }

  #PhotoCredit h3 {
    text-transform: uppercase;
    color: #1F3846;
    border-bottom: 2px solid #1F3846;
    margin-right: 30px;
    font-size: 24px;
  }

/*                                  MOBILE VIEW */



/* MEGPRÓBÁLOM MEGJAVÍTANI AZ ABOUT ME-T MOBILON */

@media (max-width: 768px) {
  nav ul {
    width: 100vw;
    font-size: 12px;
    align-items: center;
    padding: 0px;
    list-style: none;
    display: flex; /* Use flexbox to arrange items in a row */
    justify-content: center; /* Center the items horizontally */
    flex-direction: row;
    text-align: center;
    align-content:space-around;
  }

  nav ul li {
    display: inline;
    margin-right: 15px;
    display: block;
    margin: 0px 0;
    padding-right: 14px;
    text-align: center;
    margin-bottom: 5px;
  }

    nav a {
      text-decoration: none;
      color: #C2C9CD;
  }
  nav a:hover {
    color: #fff;
}

  #SecAboutMe {
    width: 60%; /* Make the main section take full width */
    margin-left: 180px;
    font-size: 14px;
  }

  aside {
    width: 45%; /* Make the aside section take full width */
    margin: 0; /* Remove any margin */
    margin-left: 0px;
    font-size: 14px;
  }

}


@media (max-width: 768px) {
  #experiences {
    width: 100%; /* Make the main section take full width */
    margin-left: 0px;
    font-size: 14px;
    height: fit-content;
  }
  .director-name  {
    text-align: end;
    margin-right: 10px;
  }

}
